// // @import "bootstrap-compass";
// // @import "bootstrap-variables";
// @import "bootstrap";

/*	 Wrote by Ashley.*/
h1{ color: #b00000;
	span{
		display: block;
		text-align: center;
		color: red;
	}
}

.buttons.myscript-common-element {
    position: absolute;
    z-index: 2;
    margin-left: -69px;
    bottom: -50px;
    left: 50%;
}
.ooo-footer{
	 display: none;
}
.ooo-section{
	background-image:url('../img/iphoneWireframe.png');
	background-position: center;
	background-size: 400px;
	background-repeat: no-repeat;
}
