// // @import "bootstrap-compass";
// // @import "bootstrap-variables";
// @import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
$lightGrey: #79828c;
$xkGreen: #4CB7AD;
$borderGrey: #DDDEE0;
$toolBackground: #F2F2F2;
$toolSize: 40px;
$toolColor: #9B9B9B;
$xkDeepGrey: #53585F;
$sysUIUnit: 50px;
$z-sysControl:500;
$z-toolBar:499;
$z-element:1;
$z-popview:400;
$z-table:300;




.mgt50{ margin-top: 50px; overflow: visible;}
a, a:active, a:visited{ color:$xkGreen; }
a:focus{ box-shadow: none;}

button{ background-color:lighten($xkGreen,15%);}

.mockup{
	height: 100%;
	width: 100%;
	background-image: url(../img/iphoneWireframe.png);
  background-position: center;
  background-size: 280px;
  background-repeat: no-repeat;
	position: relative;
  top:-27px;
}
.sysControl{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: $z-sysControl;
	width: 100%;
	.navigation{
		height: $sysUIUnit ;
		background: rgba(255, 255, 255, 0.8);
		width: 100%;
		border-bottom: 1px solid $borderGrey;
		padding-right: 15px;
		.logo{
			background-image: url('../img/logo.png') no-repeat;
			background-size:contain;
			background-position: center;
			background-color: $xkGreen;
			width: $sysUIUnit;
			height:$sysUIUnit;
			float: left;
			vertical-align: middle;
			text-align: center;
			line-height: 45px;
			img{
				width: 80%;
		    display: inline-block;
			}
		}
		.pageName{
			padding: 14px;
			float: left;
			font-size: 20px;
		}
		ul{
			float: right;
			list-style: none;
			display: inline-block;
			float: right;
			li{a{padding: 15px; display: inline-block;}}
			li:first-child{ a{padding-right: 0px;} }
		}
	}
	.gotoNextTask{
		top: 0px;
		position: absolute;
		background-color: $xkGreen;
		background-image: none;
		border: 0px;
		border-radius: 0px;
		height: 50px;
		right: 0px;
		padding-left: 17px;
		padding-right: 17px;
		&:hover{
			background-color: darken($xkGreen,10%);
		}
	}

}
.bootstrap-iso.toolbar{
	position: absolute;
	z-index: $z-toolBar;
	left: 0px;
	top:0px;
	padding-top: $sysUIUnit;
	width: $sysUIUnit;
	border-right: 1px solid $borderGrey;
	background-color: $borderGrey;
	height: 100%;
	.func{
		background-color:$toolBackground;
		border-radius: 100px;
		display: block;
		width: $toolSize;
		height:$toolSize;
		text-align: center;
		vertical-align: middle;
		line-height: $toolSize + 2;
		color: $toolColor;
	}
	.focus{
		> span{color:$xkGreen;}

	}
	> li:hover{
		// span{
		// 	color:$xkGreen;
		// }
	}
	> li:active{
		span{
			color: darken($xkGreen, 20);
		}
	}

	> ul{
		list-style: none;
		margin: 0px;
		padding: 0px;
		position:absolute;
		width: 100%;
		> li{
			width: 100%;
			margin:10px 5px;

		}
	}
	.top{
		top:60px;
		> li:first-child{
			margin-top: 0px;
		}
	}
	.bottom{
		bottom:10px;
		li:last-child{
			margin-bottom: 0px;
		}
	}
}
/*	 Wrote by Ashley.*/
.write-here{
	font-family: 'Architects Daughter', cursive;
	line-height: 70px;
	font-size: 26px;
	margin: 55vh auto 0;
	span{
		font-size: 40px;
	}
}
.ooo-header {
	border: none;
	bottom: 30px;
	position: absolute;}
.ooo-shape:not([style-scope]):not(.style-scope)::before{ width:0px; display: none;}
.ooo-header{
		h1{
		color: $lightGrey;
		text-indent: 0px;
		font-family: 'Architects Daughter', cursive;
			span{
				display: block;
				text-align: center;
				color: red;
			}
		}
}
.ooo-header{
	position: absolute;
	width: 100%;
}
.buttons.myscript-common-element {
    position: absolute;
    z-index: 2;
    margin-left: -69px;
    bottom: -50px;
    left: 50%;
		display: none;
}
.ooo-footer{
	 display: none;
}
.ooo-section{
	// background-image:url('../img/iphoneWireframe.png');
	// background-position: center;
	// background-size: 280px;
	// background-repeat: no-repeat;
	position: absolute;
	top: $sysUIUnit;
	width: 100%;
}
// END of BASIC UI
// INFOMATION AREA
.showInfo2{
	display: block;
	padding:10px;
	position: absolute;
	z-index: 0;
	left: 60px;
	top:60px;
	min-width: 200px;
	color: $lightGrey;
	font-size: 10px;
	ul{
		list-style: none;
		margin: 0px;
		padding: 0px;
		li{
			margin-bottom: 5px;
		}
	}
}
.showInfo2.right{
	right:20px;
	left: auto;
}
.js_suggestions{
	min-width: 200px;
}
.identification{
	width: 100%;
	height:1px;
	z-index: $z-element;
	position: absolute;
	top:50px;

	*{
		position: absolute;
		border:1px solid rgba(80, 227, 149, 0);
	}
	.focus{
		border:1px solid rgba(80, 227, 149, 1);
	}
}
.popview{
	position: absolute;
	z-index: $z-popview;
	min-width: 100px;
	min-height: 100px;
	background-color: rgba(0, 0, 0, 0.5);
}
.bootstrap-iso .closePopviewEdior{
	color:white;
	background-color: $xkDeepGrey;
	position: absolute;
	left: 0px;
	top:0px;
	z-index: $z-sysControl;
	width: $sysUIUnit ;
	height: $sysUIUnit ;
	> span{
		line-height: 50px;
		display: block;
		text-align: center;
	}
}
.bootstrap-iso .popover{max-width:none;}
#js_popviewType{
	left: 45px;
	top:-6px;
	z-index: $z-popview;
	overflow: hidden;
	opacity: 1;
	ul.popviewTypeList{
		float: left;
		display: block;
		padding: 0px;
		li{
			cursor: pointer;
			border: 2px solid white;
			padding: 7px;
			color:$lightGrey;
			display: inline-block;
			float: left;
			width: auto;
			height: 160px;
			margin-bottom: 10px;
			img{ width: 150px;}
			span{width: 150px;  margin: 8px 0 20px; text-align: center; display: block;}
		}
		li:hover{
			border: 2px solid$xkGreen;
			span{
				color: $xkGreen
			}
		}
		li.focus{ border: 1px solid $xkGreen; }
		li:active{ background-color: #FFFDE1;}
	}
}

// <!-- framework7 -->
.popover{
	opacity: 1;
	width: auto;
	max-width:none;
	.modal{
		left: auto;
		top: auto;
		font-size: 12px;
	}
	.modal-button{font-size: 12px;height: 36px; line-height: 36px;}
}


#pop-alert{
	&.modal{
		width: 200px;
		margin: 0px;
	}
	.modal-title{font-size: 16px;}
	.modal-title+.modal-text{ font-size: 12px;}
	.modal-buttons{ height: 36px;}
	.modal-buttons{
		border-bottom: 1px solid #b5b5b5;
		.modal-button:first-child:last-child {border-radius: 0px;}

	}
	.modal-buttons{
		.modal-button{
		font-size: 16px;
		line-height: 36px;}
		&:last-child {
			border-bottom:none;
			.modal-button:first-child:last-child{
				border-radius: 0 0 7px 7px;
			}
		}
	}
}
#pop-actionSheet{
	&.modal{
		width:100%;
		left: auto;
		margin-left: auto;
		bottom: 0px;
	}
	.actions-modal{width:100%; margin-left:0px; left:0px;}
	.actions-modal-button{font-size: 14px; height: 44px; line-height: 44px;}
	.actions-modal-button, .actions-modal-label{background: rgba(255,255,255,.8);}
}
#pop-customPopView{
		border-radius: 4px;
		background-color: white;
		min-height: 100px;
		position: absolute;
		overflow: hidden;
		.drawinPopview{
			margin:8px;
			display:block;
			color:grey;
			font-family: 'Architects Daughter', cursive;
		}
}

#pop-picker{
	.picker-columns{
		height: 200px;
	}
	.picker-center-highlight{margin-top: -11px;}
	.picker-modal .toolbar+.picker-modal-inner{
		height: calc(100% - 0px);
	}
	.views{
		position: absolute;
		bottom: 0px;
	}
	.pages{
		background: transparent;
		.page{
			background: transparent;
		}
	}
	.toolbar{
		height: 0px;
		.toolbar-inner{
			height: 36px;
			background-color: white;
			top: -35px;
		}
		a{
			height: 36px;
			font-size: 12px;
			&.link{
				line-height: 12px;
			}
		}
	}
	.picker-item{font-size: 17px;}
}
#tableview{
	position: $z-table;
	.list-block{
		margin: 0px;
	}
	.list-block ul{
		border:none;
	}
	position: absolute;
	// background-color: $borderGrey;
	border: 1px solid #c8c7cc;
	i.icon.icon-f7{
		background-image: url("https://goo.gl/hSqM8y");
	}
	.subforCell{display: block; width: 100%;font-size: 12px;color: #bbb;}
	.list-block .item-content{ padding-left: 10px;}
	.list-block .item-media+.item-inner{margin-left: 5px;}
	.list-block .item-link .item-inner{
		padding-right: 35px;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xm…29.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E");
		background-size: 10px 20px;
		background-repeat: no-repeat;
	}

}
